*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 100;

}

.logo{
        font-size: 25px;
        color: #ededed;
        text-decoration: none;
        font-weight: 600;
}

/* Hoover or navigation bar */

.navbar{
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
}

.navbar a {
        font-size: 20px;
        color: #ededed;
        text-decoration: none;
        font-weight: 500;
        margin: 0 10px;
        padding: 10px;

}

.navbar a:hover,
.navbar a:active {
  background-color: #00abf0;
  border-radius: 5px;
}

.home{
        height: 100vh;
        background: url('images/roshan.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 10%;
}

.home-content{
        max-width: 600px;
}

.home-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 1.2;
}

.home-content h3{
        font-size: 32px;
        font-weight: 700;
        color: #00abf0;
}

.home-content p{
        font-size: 16px;
        padding: 20px 0 40px;
}

.home-content .btn-box{
        justify-content: space-between;
        width: 345px;
        height: 50px;
}

.btn-box a{
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
}

.btn-box a:hover{
        color: #00abf0;
}

.btn-box a:nth-child(2){
        background: transparent;
        color: #00abf0;
}

.btn-box a:nth-child(2):hover{
        color: #081b29;
}

.btn-box a:nth-child(2)::before{
        background: #00abf0;
}

.btn-box a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #081b29;
        z-index: -1;
        transition: .5s;
}

.btn-box a:hover:before{
        width: 100%;

}


/* About me Content form */

.aboutme {
        min-height: 100vh;
        height: auto;
        background: url('images/roshan.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 5%;
        font-size: 20px;
        box-sizing: border-box;
        padding-bottom: 100px;
        padding-top: 120px;

}


.aboutme h2{
        color: #00abf0;
        font-weight: 500px;
        text-decoration: underline;
        margin-bottom: 30px;
        margin-top: 70px;
        cursor: pointer;

}

/* contact page form  */

.contact-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;   /* stack items vertically */
  justify-content: center;  /* center vertically */
  align-items: center;      /* center horizontally */
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  height: auto;             /* let content decide height */
  border-radius: 10px;      /* rounded corners */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* subtle shadow */
  margin-top: 100px;
  max-width: 600px;
  width: 100%;
}

.contact-content h2{
        color: #00abf0;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
        text-decoration: underline;
        
}


 
.contact{
        height: 100vh;
        background: url('images/roshan.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        padding: 0 10%;
            
}


/* icons styling */
.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;       /* ensures they stay at bottom */
}

.contact-icons a {
  text-decoration: none;
}

.contact-icons i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform .3s, color .3s;
}

.contact-icons i:hover {
  color: #ef476f;
  transform: scale(1.2);
}

/* Cloudfare Verify */

 .turnstile-box {
  border-radius: 4px;          /* rounded corners */
  overflow: hidden;            /* clips iframe corners */
  display: flex;
  flex-wrap: wrap;             /* responsive wrapping */
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-size: cover;      /* scales background image */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
} 

/* For mobile device */

@media (max-width: 700px) {
  .logo {
    font-size: 20px;               /* smaller logo text */
    margin-bottom: 10px;           /* space below logo */
  }

  .navbar {
    flex-wrap: nowrap;               /* allow wrapping if needed */
    gap: 10px;                     /* smaller gap between links */
  }

  .navbar a {
    font-size: 16px;               /* smaller link text */
    margin: 5px;                   /* reduce margin */
    padding: 8px;                  /* smaller padding */
  }

  .contact-content {
    margin-top: 60px;
    padding: 15px;
    max-width: 90%;          /* use more screen width */
  }

  .contact-content h2 {
    font-size: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
    padding: 10px;
  }

  .contact-form button {
    font-size: 14px;
    padding: 10px;
  }


  .contact-icons {
    gap: 20px;               /* smaller spacing */
  }

  .contact-icons i {
    font-size: 20px;         /* smaller icons */
  }

}


/* End of contact icons */

.form input, textarea{
        resize: none;
       display: flex;
       width: 100%;
       padding: 12px;
    margin-top: 20px;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #00abf0;
}

.form input:focus{
    outline: none;
}



.formname{
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        height: 30px;
        
}

.formemail{
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
        height: 30px;
       

}


.formmessagebox textarea{
        min-height: 150px;
        width: 100%;
       padding: 12px;
  font-size: 16px;
  line-height: 1.5;         /* improves readability */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
      border-bottom: 1px solid #00abf0;

}


.formsubmit{
        width: 100%;
        background: #06d6a0;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        transition: .3s;
}

.formsubmit:hover{
        background: linear-gradient(90deg, #06d6a0, #ef476f);
        color: #fff;

}

.formsubmit a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


/* Footer  */

.footerMain{
        background-color: #9cbb74;
        padding: 20px 10px;
        border-top: 1px solid #333;
        font-weight: bold;
        bottom: 0;
        width: 100%

}


.footer{
        text-align: center;
        color: #ccc;
}

.footer a{
        color: #00abf0;
        text-decoration: none;
        margin: 0 10px;
        font-size: 15px;
}

.footer a:hover{
      color: #06d6a0;
      text-decoration: underline;  
}